@import '../../../styles/utils/breakpoints';
@import '../../../styles/utils/colors';

.feed-item {
  font-size: 11px;
  padding: 6px 24px;
  @include tablet {
    padding-left: 32px;
  }
  @include desktop {
    padding-left: 48px;
  }

  .main-details,
  .title {
    margin-bottom: 5px;
    @include desktop {
      margin-bottom: 0;
    }
  }

  &:nth-child(2n) {
    background: $grey;
  }

  .comments {
    font-size: 13px;
    padding-right: 24px;
    width: 24px;
    @include tablet {
      padding-right: 32px;
    }
    @include desktop {
      padding-right: 40px;
    }
  }

  .points {
    font-size: 12px;
    padding-right: 8px;
    width: 45px;
  }

  .title {
    font-size: 14px;
    margin-right: 4px;
  }

  .website-name {
    margin: 0 4px 0 0;
  }

  .by-keyword {
    margin-right: 4px;
    opacity: 0.6;
  }

  .author-name {
    font-size: 12px;
    margin-right: 4px;
  }

  .time-since {
    margin-right: 4px;
  }
}
