/*********************
COLOR VARIABLES
*********************/

$black: #000;
$grey: #e5e5e5;
$orange: #f60;
$white: #fff;

// Background colors
$bg-color: #f6f6ef;

// Font colors
$primary: $black;
$secondary: #828282;
